In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
import os
warnings.filterwarnings('ignore')
from datetime import datetime

In [2]:
pd.options.display.float_format = '{:.2f}'.format

In [3]:
import os
import pandas as pd

def pmtt(folder_path):
    all_files = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if f.endswith('.csv')]
    
    df_list = []
    for file in all_files:
        try:
            # Lecture robuste : autodétection du séparateur, tolérance d'erreurs
            df = pd.read_csv(
                file,
                sep=None,                # autodétection du séparateur
                engine='python',         # moteur plus souple que 'c'
                on_bad_lines='skip',     # ignore les lignes corrompues
                encoding='utf-8',        # à adapter si tu vois des caractères bizarres
            )
            df_list.append(df)
        except Exception as e:
            print(f"Erreur lors de la lecture de {file}: {e}")

    # Concaténation de tous les fichiers lus
    combined_df = pd.concat(df_list, ignore_index=True)
    return combined_df


folder_path = r"C:\Users\Tanoh Parfait\Downloads\MARCHAND"
df = pmtt(folder_path)
df.sample(5)

,﻿created_at,payment_date,operator,merchant_name,transaction_id,merchant_transaction_id,id_operator,external_transaction_id,phone_number,montant,fee_amount,merchant_amount,type_transaction,currency,state,country,provider_id
221726,2025-10-01 18:00:20,2025-10-01 18:00:30,WAVE,1XBET CI,edecf11feb4c409fa3c66d1f8ad3bd7e,17975990805,cos-2096dmkr02pde,NaN,2250714828565,400.00,16.00,384.00,payment,XOF,SUCCESS,CI,cos-2096dmkr02pde@@@@@edecf11feb4c409fa3c66d1f...
5466521,2025-10-29 12:11:43,2025-10-29 12:12:32,WAVE,1XBET CI,2304ce87bbff41e5b338048b42465edb,18407877403,cos-20v272z282s3c,NaN,2250778269206,800.00,32.00,768.00,payment,XOF,SUCCESS,CI,cos-20v272z282s3c@@@@@2304ce87bbff41e5b338048b...
2964235,2025-10-12 01:16:58,2025-10-12 01:16:59,OM,1XBET CI,a9e5315432e240eab07d69c9f0cf0d4f,18134087719,MP251012.0116.C11565,NaN,2250798713072,1000.00,40.00,960.00,payment,XOF,SUCCESS,CI,v1zdqpaqjqmm0ur4dfacjyerhaczb35efknnzrvf4xxps0...
5906702,2025-10-04 09:35:52,2025-10-04 09:36:08,WAVE_SN,Lonase Melbet,da3e2013453f45fda2c1c0b09031f274,18015529999,cos-20ax083j81kte,NaN,221776878771,800.00,28,772,payment,XOF,SUCCESS,SN,+221555679300@@@@@cos-20ax083j81kte@@@@@da3e20...
1343876,2025-10-21 16:04:09,2025-10-21 16:05:05,WAVE_SN,Lonase 1xbet,c2c429c2cc1f4569812abe1f8ff300d2,18275956907,cos-20p0r1s481bdp,NaN,221781338750,2500.00,87.50,2412.50,payment,XOF,SUCCESS,SN,+221555679297@@@@@cos-20p0r1s481bdp@@@@@c2c429...

In [4]:
df.merchant_name.unique()

array(['1XBET CD', 'Lonase 1xbet', '1XBET CI', '1XBET TG', '1XBET',
       'MELBET', 'MELBET CI', 'Melbet BF', 'Melbet TG', 'MELBET CM',
       'Lonase Melbet', 'TOP X CI', '1WIN NE', '1WIN TG', '1WIN BF',
       '1 WIN CI', 'BETPARI TG', 'BETPARI', 'BETPARI BF', 'BETPARI CI',
       'Goldpari BF', 'Goldpari TG', 'Goldpari CI', 'Lonase Linebet',
       'LINEBET CI', 'LUCKY STAR', 'PARIPESA CI', 'TOPX'], dtype=object)

In [5]:
payin=df[df['type_transaction']=='payment']
payout=df[df['type_transaction']=='transfer']

In [6]:
SUCCESS=df[df['type_transaction']=='None']

In [7]:
# Liste des marchands
marchands = ['1XBET CD','Lonase 1xbet','1XBET CI','1XBET TG','1XBET']

payment= payin[payin['merchant_name'].isin(marchands)]
transfer = payout[payout['merchant_name'].isin(marchands)]

In [8]:
payment.shape

(5707169, 17)

In [9]:
payment.head(2)

,﻿created_at,payment_date,operator,merchant_name,transaction_id,merchant_transaction_id,id_operator,external_transaction_id,phone_number,montant,fee_amount,merchant_amount,type_transaction,currency,state,country,provider_id
0,2025-10-11 12:33:27,2025-10-11 12:33:47,OM_CD,1XBET CD,5eaa24db1e5348fab689647686bed06d,18124281799,CO251011.1333.C15937,NaN,243893333100,5400.00,243.00,5157.00,payment,CDF,SUCCESS,CD,5eaa24db1e5348fab689647686bed06d
1,2025-10-11 09:31:36,2025-10-11 09:32:09,AIRTEL_CD,1XBET CD,dc998e2e03e9420d801312f8f74aac4a,18121901589,dc998e2e03e9420d801312f8f74aac4a,NaN,243971265553,1000.00,45.00,955.00,payment,CDF,SUCCESS,CD,dc998e2e03e9420d801312f8f74aac4a

In [10]:
transfer.head(2)

Empty DataFrame
Columns: [﻿created_at, payment_date, operator, merchant_name, transaction_id, merchant_transaction_id, id_operator, external_transaction_id, phone_number, montant, fee_amount, merchant_amount, type_transaction, currency, state, country, provider_id]
Index: []

In [11]:
transfer.shape

(0, 17)

In [12]:

import os
import pandas as pd
from datetime import datetime

report_date = "1XBET"

# Générer automatiquement le chemin de sortie avec la date actuelle
current_date = datetime.now().strftime("%Y%m%d_%H%M%S")
output_dir = r'C:\Users\Tanoh Parfait\Downloads\RESULTAT'
output_file_name = f"{current_date}_RAPPORT_MARCHAND_{report_date}.xlsx"
output_file_path = os.path.join(output_dir, output_file_name)

# Tes DataFrames initiaux
payin = payment
payout = transfer

# Dictionnaire de DataFrames
feuilles = {
    'DATA PAYIN': payin,
    'DATA PAYOUT': payout
}

# Seuil maximum autorisé par Excel
MAX_ROWS = 1_000_000

with pd.ExcelWriter(output_file_path, engine='openpyxl') as writer:
    for nom_feuille, df in feuilles.items():
        # Si le DataFrame dépasse le seuil, on le découpe
        if len(df) > MAX_ROWS:
            num_parts = (len(df) // MAX_ROWS) + 1
            for i in range(num_parts):
                start = i * MAX_ROWS
                end = (i + 1) * MAX_ROWS
                df_part = df.iloc[start:end]
                sheet_name = f"{nom_feuille}_{i+1}"  # ex: DATA PAYIN_1, DATA PAYIN_2
                df_part.to_excel(writer, sheet_name=sheet_name, index=False)
        else:
            # Sinon, on écrit directement le DataFrame
            df.to_excel(writer, sheet_name=nom_feuille, index=False)

print(f"✅ Fichier Excel sauvegardé avec succès : {output_file_path}")

✅ Fichier Excel sauvegardé avec succès : C:\Users\Tanoh Parfait\Downloads\RESULTAT\20251111_091721_RAPPORT_MARCHAND_1XBET.xlsx

In [13]:
"""
report_date = "TOP X CI"
# Générer automatiquement le chemin de sortie avec la date actuelle
current_date = datetime.now().strftime("%Y%m%d_%H%M%S")
output_dir = r'C:\Users\Tanoh Parfait\Downloads\RESULTAT'
output_file_name = f"{current_date}_RAPPORT_MARCHAND_{report_date}.xlsx"
output_file_path = os.path.join(output_dir, output_file_name)

# Création de DataFrames d'exemple
payin = payment
payout = transfer


# Dictionnaire de DataFrames
feuilles = {
    'DATA PAYIN': payin,
    'DATA PAYOUT': payout
    
    
}

# Création de l'objet ExcelWriter
with pd.ExcelWriter(output_file_path, engine='openpyxl') as writer:
    for nom_feuille, df in feuilles.items():
        df.to_excel(writer, sheet_name=nom_feuille, index=False)

print(f"Fichier Excel avec plusieurs feuilles sauvegardé avec succès: {output_file_path}")
"""

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 185-186: truncated \UXXXXXXXX escape (512941490.py, line 1)