In [154]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import os
from datetime import datetime
import matplotlib.pyplot as plt

In [155]:
pd.options.display.float_format = '{:.2f}'.format

In [156]:
import os
import pandas as pd

def pmtt(folder_path):
    # Lister tous les fichiers CSV dans le dossier
    all_files = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if f.endswith('.csv')]

    df_list = []
    for file in all_files:
        # Lire le fichier CSV
        df = pd.read_csv(file)
        
        # Ajouter une colonne avec le nom du fichier (sans le chemin complet)
        df['source_file'] = os.path.basename(file)
        
        # Ajouter au DataFrame combiné
        df_list.append(df)

    # Concaténer tous les DataFrames
    combined_df = pd.concat(df_list, ignore_index=True)
    return combined_df

# Exemple d’utilisation
folder_path = r'D:\RECONCILIATIONS\PAIEMENT\WAVE-CI\Données PMT\NOV\SOURCE'
pmt = pmtt(folder_path)

# Afficher un échantillon
pmt.tail(5)

,created_at,payment_date,operator,merchant_name,transaction_id,merchant_transaction_id,id_operator,external_transaction_id,amount,fee_amount,merchant_amount,operation_origin,currency,statut,country,provider_id,provider_name,phone_number,source_file
556396,2025-11-09 01:58:24,2025-11-09 01:58:34,WAVE,MFI Investment limited CI,0b3eafdcad304c9290f9d24df0d6afc0,019a6656-01d2-71d8-8ac9-84a4a63abc41,cos-211w1a15g2bq0,NaN,1000.00,85.00,915.00,payment,XOF,SUCCESS,CI,cos-211w1a15g2bq0@@@@@0b3eafdcad304c9290f9d24d...,WAVE_CI_Payin,2250555527823,WAVE_CI_extractions_251108_V2.csv
556397,2025-11-09 01:58:52,NaN,WAVE,MFI Investment limited CI,34dfcf21d3194181befd57a5b2498410,019a6656-7016-72bf-a0c3-008029f5eecc,cos-211w1gxng2c4a,NaN,2000.00,170.00,1830.00,payment,XOF,FAILED,CI,cos-211w1gxng2c4a@@@@@34dfcf21d3194181befd57a5...,WAVE_CI_Payin,2250150773166,WAVE_CI_extractions_251108_V2.csv
556398,2025-11-09 01:59:17,2025-11-09 01:59:31,WAVE,MFI Investment limited CI,fd61e6d2075d4b43b4819ac4202985a7,019a6656-d205-747e-99e9-0ca54eeb305d,cos-211w1q1dr2cfc,NaN,1000.00,85.00,915.00,payment,XOF,SUCCESS,CI,cos-211w1q1dr2cfc@@@@@fd61e6d2075d4b43b4819ac4...,WAVE_CI_Payin,2250544378985,WAVE_CI_extractions_251108_V2.csv
556399,2025-11-09 01:59:37,NaN,WAVE,MFI Investment limited CI,5b8706e66c4f43a5ad8006202b265adb,019a6657-215a-75cf-8f48-d1af77e99c62,cos-211w1w0682crc,NaN,1500.00,127.50,1372.50,payment,XOF,PENDING,CI,cos-211w1w0682crc@@@@@5b8706e66c4f43a5ad800620...,WAVE_CI_Payin,2250586964331,WAVE_CI_extractions_251108_V2.csv
556400,2025-11-09 02:00:05,NaN,WAVE,MFI Investment limited CI,ab6fc05043534033b3759bfad5ca8464,019a6657-8bf8-760b-b90e-fc56a8b0bf92,cos-211w22rr82d4t,NaN,1000.00,85.00,915.00,payment,XOF,PENDING,CI,cos-211w22rr82d4t@@@@@ab6fc05043534033b3759bfa...,WAVE_CI_Payin,2250504562831,WAVE_CI_extractions_251108_V2.csv

In [157]:

directory = r'D:\RECONCILIATIONS\PAIEMENT\WAVE-CI\Données OP\NOV'

# Trouver le fichier CSV le plus récent dans le répertoire
def get_latest_file(directory):
    files = [os.path.join(directory, f) for f in os.listdir(directory) if f.endswith('.csv')]
    latest_file = max(files, key=os.path.getctime)
    return latest_file

# Charger le fichier CSV le plus récent
latest_file_path = get_latest_file(directory)
op = pd.read_csv(latest_file_path)
op.sample()

,Horodatage,Identifiant de transaction,Type de transaction,Montant,Frais,Solde,Devise,Nom de contrepartie,Numéro de téléphone de contrepartie,Nom d'utilisateur,Numéro de téléphone d'utilisateur,Référence client,Identifiant de session API,Identifiant marchand agrégé,Nom marchand agrégé
104846,2025-11-08 12:15:26+00:00,T_ZQ5FFJKZJ4HKJQ5X,api_checkout,495,5,867411079,XOF,RSIKIEL A D Y,2250749974880,Kouadja Bogui Pegard Edwidge,2250779215165.00,7fb17f2ae8654e579ba1bf1b51e0d131,cos-211g8cpr02yfy,am-1p62v5qqg22w6,1XBet * Paym

In [158]:
dfpmt = pmt.rename(columns={
        'source_file':'source',
        'created_at': 'Created Date',
        'payment_date': 'Payment Date',
        'operator': 'Operator',
        'merchant_name': 'Merchant Name',
        'transaction_id': 'Transaction ID',
        'id_operator': 'ID Opérateur',
        'phone_number': 'Phone Number',
        'amount': 'Montant',
        'country':'Pays',
        'fee_amount': 'Fee amount',
        'merchant_amount': 'Merchant amount',
        'statut': 'Statut'
    })

In [159]:
#EXTRAITRE LA DATE DANS UNE NOUVELLE COLLONNE
dfpmt['DateCourte'] = dfpmt['Created Date'].apply(lambda x: x.split(' ')[0])
op['DateCourte'] = op['Horodatage'].apply(lambda x: x.split(' ')[0])

In [160]:
op.sample(5)

,Horodatage,Identifiant de transaction,Type de transaction,Montant,Frais,Solde,Devise,Nom de contrepartie,Numéro de téléphone de contrepartie,Nom d'utilisateur,Numéro de téléphone d'utilisateur,Référence client,Identifiant de session API,Identifiant marchand agrégé,Nom marchand agrégé,DateCourte
301257,2025-11-08 22:46:06+00:00,T_IGYKSJ3S6ARA3YJI,api_checkout,1980,20,1065599288,XOF,Poronan F,2250594486789,Kouadja Bogui Pegard Edwidge,2250779215165.00,bd78b6b6dcab4a88921e312136c3d3ac,cos-211s96f902fpt,am-1p62v5qqg22w6,1XBet * Paym,2025-11-08
290534,2025-11-08 22:05:24+00:00,pt-211rpmrhr2ycy,api_payout,-6114,24,1084373928,XOF,NaN,2250565497560,NaN,NaN,8b61dad1-29d1-4002-b3c6-42b8b257b361,NaN,am-1qysw5tf82222,MELBET LONACI * Paym,2025-11-08
129750,2025-11-08 13:23:32+00:00,T_TV6GDGYQKWUGXX6A,api_checkout,297,3,906077129,XOF,Zango A,2250140846264,Kouadja Bogui Pegard Edwidge,2250779215165.00,95312115f4274306b9df1e96f0887294,cos-211h7jc982f8c,am-1qysw5tf82222,MELBET LONACI * Paym,2025-11-08
65430,2025-11-08 10:12:45+00:00,T_J67THEOLWZTWRLI5,api_checkout,990,10,811052642,XOF,KOUADIO C,2250575888865,Kouadja Bogui Pegard Edwidge,2250779215165.00,31f9a3d910af47618965824ff1dcd3b7,cos-211eg9r7r2ptj,am-1p62v5qqg22w6,1XBet * Paym,2025-11-08
192575,2025-11-08 16:34:04+00:00,T_YOBF7UBQARMQMQAS,api_checkout,1881,19,1000664644,XOF,Ouattara M,2250500751940,Kouadja Bogui Pegard Edwidge,2250779215165.00,c64329618b414776a3848283121ebd1a,cos-211kyvqvr23v0,am-1n1r4ncqg20j6,BETMOMO * Paym,2025-11-08

In [161]:
payin= op.loc[(op['Type de transaction'] == 'api_checkout')]

In [162]:
payin = payin.drop_duplicates(subset='Référence client')
dfpmt = dfpmt.drop_duplicates(subset='Transaction ID')

In [163]:
# Vérification des correspondances entre A1 et B1
        #correspondance_statut_op= payin.set_index('Externalid')['Status']
correspondance_date_op = payin.set_index('Référence client')['DateCourte']
correspondance_idoperator = payin.set_index('Référence client')['Identifiant de session API']
        
dfpmt['DATEOP'] = dfpmt['Transaction ID'].map(correspondance_date_op)
        #dfpmt['STATUTOP'] = dfpmt['Transaction ID'].map(correspondance_statut_op)
dfpmt['IDOPERATOR'] = dfpmt['Transaction ID'].map(correspondance_idoperator)

In [164]:
# Définir les taux de commission pour chaque opérateur
dfpmt['Fraisop'] = dfpmt['Montant'] * 0.01
dfpmt['FraisPmt'] = dfpmt['Fee amount'] - dfpmt['Fraisop']
dfpmt['Tauxop']=dfpmt['Fraisop'] / dfpmt['Montant']
payin['Tauxop']=payin['Frais'] / payin['Montant']

payin['Net']=payin['Montant'] + payin['Frais']

In [165]:
#NBSI PMT &CINETPAY
dfpmt['WAVE'] = dfpmt['Transaction ID'].isin(payin['Référence client']).astype(int)
payin['PMT'] = payin['Référence client'].isin(dfpmt['Transaction ID']).astype(int)

dfpmt['Nombre']= dfpmt['Montant']
payin['Nombre']= payin['Montant']

In [166]:
# Création du tableau croisé dynamique
df_filteredpmt = dfpmt[dfpmt['WAVE'] == 1]
        # Création du tableau croisé dynamique
tcdpmt = pd.pivot_table(
            df_filteredpmt,
            values=['Montant', 'Nombre','Fraisop', 'FraisPmt'],
            index=['DATEOP','Statut'],
            aggfunc={'Nombre': 'count','Montant': 'sum' ,'Fraisop': 'sum', 'FraisPmt': 'sum' },
            fill_value=0,
            margins=True,
            margins_name='Total'
        )
            # Création du tableau croisé dynamique
df_filtered = payin[(payin['PMT'] == 1) | (payin['PMT'] == 0)]

        # Création du tableau croisé dynamique
tcdwave = pd.pivot_table(
            df_filtered,
            values=['Nombre', 'Net'],
            index=['DateCourte'],
            aggfunc={'Nombre': 'count','Net': 'sum' },
            fill_value=0,
            margins=True,
            margins_name='Total'
        )

In [167]:
tcdpmt

                      FraisPmt    Fraisop      Montant  Nombre
DATEOP     Statut
2025-11-08 FAILED     89031.27    8090.85    809085.00     150
           SUCCESS 32575242.28 7224574.41 722457441.00  282412
Total              32664273.55 7232665.26 723266526.00  282562

In [168]:
tcdwave

                  Net  Nombre
DateCourte
2025-11-08  723266526  282562
Total       723266526  282562

In [169]:
maj_a_succes = dfpmt.loc[(dfpmt['Statut'] != 'SUCCESS') & (dfpmt['WAVE'] == 1)]
#maj_pending_a_succes = dfpmt.loc[(dfpmt['Statut'] == 'PENDING') & (dfpmt['WAVE'] == 1)]
trx_succes_abs = dfpmt.loc[(dfpmt['Statut'] == 'SUCCESS') & (dfpmt['WAVE'] == 0)]
trx_en_attente_abs= dfpmt.loc[(dfpmt['Statut']=='PENDING') & (dfpmt['WAVE'] == 0)]
trx_succes_cinetpay_abs_pmt = payin.loc[(payin['PMT'] == 0)]

In [170]:
maj_a_succes.head()

,Created Date,Payment Date,Operator,Merchant Name,Transaction ID,merchant_transaction_id,ID Opérateur,external_transaction_id,Montant,Fee amount,...,Phone Number,source,DateCourte,DATEOP,IDOPERATOR,Fraisop,FraisPmt,Tauxop,WAVE,Nombre
138127,2025-11-08 00:33:36,NaN,WAVE,LUDUS CI,979f3ad8c4ba4d49922e1defee70a1a9,18574538081,cos-21167a1qr2980,NaN,2000.00,80.00,...,2250501234067,WAVE_CI_extractions_251108.csv,2025-11-08,2025-11-08,cos-21167a1qr2980,20.00,60.00,0.01,1,2000.00
446888,2025-11-08 10:29:38,NaN,WAVE,AMCDRC LTD CI,cdf6b4b62b5f4ef4ba07ba4cbaf6765b,217263935,cos-211er553r2pmp,NaN,1000.00,125.00,...,2250708484654,WAVE_CI_extractions_251108_V2.csv,2025-11-08,2025-11-08,cos-211er553r2pmp,10.00,115.00,0.01,1,1000.00
452306,2025-11-08 16:35:17,NaN,WAVE,AMCDRC LTD CI,fd8334de9d3c4524a8a3995efac51acd,217330150,cos-211kzh90r2eee,NaN,2000.00,250.00,...,2250574850809,WAVE_CI_extractions_251108_V2.csv,2025-11-08,2025-11-08,cos-211kzh90r2eee,20.00,230.00,0.01,1,2000.00
452719,2025-11-08 16:38:05,NaN,WAVE,AMCDRC LTD CI,75ef0b08b285453b8c007164059480f1,217330707,cos-211m0t80021jj,NaN,4500.00,562.50,...,2250554223265,WAVE_CI_extractions_251108_V2.csv,2025-11-08,2025-11-08,cos-211m0t80021jj,45.00,517.50,0.01,1,4500.00
455963,2025-11-08 11:19:25,NaN,WAVE,AMCDRC LTD CI,f9f6a94f681a4c13b9909ceba0a80138,217272734,cos-211fey8ag22cm,NaN,1000.00,125.00,...,2250555165456,WAVE_CI_extractions_251108_V2.csv,2025-11-08,2025-11-08,cos-211fey8ag22cm,10.00,115.00,0.01,1,1000.00

In [171]:
trx_succes_abs.head(2)

,Created Date,Payment Date,Operator,Merchant Name,Transaction ID,merchant_transaction_id,ID Opérateur,external_transaction_id,Montant,Fee amount,...,Phone Number,source,DateCourte,DATEOP,IDOPERATOR,Fraisop,FraisPmt,Tauxop,WAVE,Nombre
0,2025-11-07 00:00:00,2025-11-07 00:00:13,WAVE,LUDUS CI,a61e0ec1b63044d9953ea3702b320dbe,18559657011,cos-210h4r9n822nm,NaN,1000.00,40.00,...,2250596909942,WAVE_CI_extractions_251108.csv,2025-11-07,NaN,NaN,10.00,30.00,0.01,0,1000.00
1,2025-11-07 00:00:01,2025-11-07 00:00:16,WAVE,LUDUS CI,df81d7686d5f4934a59c53ff452557a6,18559657109,cos-210h4rgdg22p8,NaN,1000.00,40.00,...,2250747162686,WAVE_CI_extractions_251108.csv,2025-11-07,NaN,NaN,10.00,30.00,0.01,0,1000.00

In [172]:
trx_en_attente_abs.head()

,Created Date,Payment Date,Operator,Merchant Name,Transaction ID,merchant_transaction_id,ID Opérateur,external_transaction_id,Montant,Fee amount,...,Phone Number,source,DateCourte,DATEOP,IDOPERATOR,Fraisop,FraisPmt,Tauxop,WAVE,Nombre
350418,2025-11-09 00:48:25,NaN,WAVE,LUDUS CI,096cffac46e441e08876844cc9a1fd43,18594519959,cos-211v18ztg2vb2,NaN,300.00,12.00,...,2250586040468,WAVE_CI_extractions_251108.csv,2025-11-09,NaN,NaN,3.00,9.00,0.01,0,300.00
350433,2025-11-09 00:48:38,NaN,WAVE,LUDUS CI,fead635896734bf2bffca410b5fe7974,18594521405,cos-211v1c2802vmj,NaN,500.00,20.00,...,2250596790585,WAVE_CI_extractions_251108.csv,2025-11-09,NaN,NaN,5.00,15.00,0.01,0,500.00
350450,2025-11-09 00:48:51,NaN,WAVE,LUDUS CI,49f48e9a8ea7492dae1843ef079453b8,18594522993,cos-211v1fb4g2vz0,NaN,500.00,20.00,...,2250554501840,WAVE_CI_extractions_251108.csv,2025-11-09,NaN,NaN,5.00,15.00,0.01,0,500.00
350484,2025-11-09 00:49:21,NaN,WAVE,LUDUS CI,b543c3bc5c1d4ea3ac209229245d839e,18594526467,cos-211v1pnn82wpm,NaN,300.00,12.00,...,2250101659015,WAVE_CI_extractions_251108.csv,2025-11-09,NaN,NaN,3.00,9.00,0.01,0,300.00
350492,2025-11-09 00:49:29,NaN,WAVE,LUDUS CI,3e0692148bf246ecb85daa705a506bc5,18594527413,cos-211v1rjrr2wvy,NaN,300.00,12.00,...,2250508203487,WAVE_CI_extractions_251108.csv,2025-11-09,NaN,NaN,3.00,9.00,0.01,0,300.00

In [173]:
trx_succes_cinetpay_abs_pmt.head()

Empty DataFrame
Columns: [Horodatage, Identifiant de transaction, Type de transaction, Montant, Frais, Solde, Devise, Nom de contrepartie, Numéro de téléphone de contrepartie, Nom d'utilisateur, Numéro de téléphone d'utilisateur, Référence client, Identifiant de session API, Identifiant marchand agrégé, Nom marchand agrégé, DateCourte, Tauxop, Net, PMT, Nombre]
Index: []

In [174]:
select_marchand=df_filteredpmt.groupby(['Pays','Merchant Name','Operator']).agg(
                Nombre=('Montant', 'count'),
                Volume_transaction=('Montant','sum')
)
select_marchand

                                                      Nombre  \
Pays Merchant Name                          Operator
CI   AMCDRC LTD CI                          WAVE       19222
     AVEONET CI                             WAVE          67
     BABLCHOS CI                            WAVE        2627
     BETMOMO CI                             WAVE       10532
     BORSCHTINATOR LTD CI                   WAVE          29
     COASTWIN SARLU CI                      WAVE       25668
     IT COM LLC CI                          WAVE         635
     LATANIA TECHNOLOGY LTD CI              WAVE       13077
     LUDUS CI                               WAVE      187036
     MEGABOND LTD CI                        WAVE          56
     MFI Investment limited (LUCKY STAR) CI WAVE         412
     MFI Investment limited CI              WAVE       10360
     MINSI LTD CI                           WAVE        2429
     NANOG LTD CI                           WAVE         333
     PARIPULSE CI                           WAVE         113
     Paleo Holdings LTD CI                  WAVE         268
     TopX N.V CI                            WAVE        9698

                                                      Volume_transaction
Pays Merchant Name                          Operator
CI   AMCDRC LTD CI                          WAVE             73851802.00
     AVEONET CI                             WAVE               213384.00
     BABLCHOS CI                            WAVE              8181776.00
     BETMOMO CI                             WAVE             55662332.00
     BORSCHTINATOR LTD CI                   WAVE               175380.00
     COASTWIN SARLU CI                      WAVE             71622806.00
     IT COM LLC CI                          WAVE              2807970.00
     LATANIA TECHNOLOGY LTD CI              WAVE             21545536.00
     LUDUS CI                               WAVE            387611758.00
     MEGABOND LTD CI                        WAVE               108610.00
     MFI Investment limited (LUCKY STAR) CI WAVE              1386333.00
     MFI Investment limited CI              WAVE             75415993.00
     MINSI LTD CI                           WAVE              4307521.00
     NANOG LTD CI                           WAVE              1120103.00
     PARIPULSE CI                           WAVE               214032.00
     Paleo Holdings LTD CI                  WAVE               446535.00
     TopX N.V CI                            WAVE             18594655.00

In [175]:
#betmomo8=df_filteredpmt[df_filteredpmt['Merchant Name']=='BETMOMO CI']
#goodgame=df_filteredpmt[df_filteredpmt['Merchant Name']=='Good Game']
#melbet=df_filteredpmt[df_filteredpmt['Merchant Name']=='COASTWIN SARLU CI']

In [176]:
refound=op[op['Type de transaction']=='api_payout_reversal']
recouvrement=op[op['Type de transaction']=='agent_transaction']

In [177]:
recouvrement

Empty DataFrame
Columns: [Horodatage, Identifiant de transaction, Type de transaction, Montant, Frais, Solde, Devise, Nom de contrepartie, Numéro de téléphone de contrepartie, Nom d'utilisateur, Numéro de téléphone d'utilisateur, Référence client, Identifiant de session API, Identifiant marchand agrégé, Nom marchand agrégé, DateCourte]
Index: []

In [178]:
refound.head()

,Horodatage,Identifiant de transaction,Type de transaction,Montant,Frais,Solde,Devise,Nom de contrepartie,Numéro de téléphone de contrepartie,Nom d'utilisateur,Numéro de téléphone d'utilisateur,Référence client,Identifiant de session API,Identifiant marchand agrégé,Nom marchand agrégé,DateCourte
168507,2025-11-08 15:18:54+00:00,pt-20qe3rcm02ebg,api_payout_reversal,4016,-16,966393850,XOF,NaN,2250596049905,NaN,NaN,4a36e6a7-edee-47a3-bc04-33069adb26b1,NaN,am-1qysw5tf82222,MELBET LONACI * Paym,2025-11-08
168510,2025-11-08 15:18:54+00:00,pt-20qep5q4r2rr4,api_payout_reversal,12048,-48,966455893,XOF,NaN,2250711761881,NaN,NaN,69d73bc5-a3de-43e0-8cb3-7b727c0a80eb,NaN,am-1p62v5qqg22w6,1XBet * Paym,2025-11-08
168513,2025-11-08 15:18:54+00:00,pt-20qbrz4e02ybr,api_payout_reversal,45180,-180,966503548,XOF,NaN,2250709394157,NaN,NaN,6bb8995d-105d-4c11-9622-d8f1980f895a,NaN,am-1n1r4ncqg20j6,BETMOMO * Paym,2025-11-08
168514,2025-11-08 15:18:54+00:00,pt-20qg6b0mg22jm,api_payout_reversal,502,-2,966504050,XOF,NaN,2250172934859,NaN,NaN,ce0e9a5d-5590-4144-9480-e27a41394423,NaN,am-1qysw5tf82222,MELBET LONACI * Paym,2025-11-08
168516,2025-11-08 15:18:55+00:00,pt-20qg2jwsr2zzj,api_payout_reversal,3012,-12,966510032,XOF,NaN,2250747272000,NaN,NaN,2fe2470c-8673-45c4-96b7-7acd285e727c,NaN,am-1qysw5tf82222,MELBET LONACI * Paym,2025-11-08

In [179]:
report_date = "20251108"
# Générer automatiquement le chemin de sortie avec la date actuelle
current_date = datetime.now().strftime("%Y%m%d_%H%M%S")
output_dir = r'D:\RECO\WAVE CI\PAYIN\RAPPORT\NOV'
output_file_name = f"{current_date}_RAPPORT_ANALYSE_{report_date}.xlsx"
output_file_path = os.path.join(output_dir, output_file_name)

# Création de DataFrames d'exemple
data_pmt = dfpmt
data_op = payin
#maj_jour_pending_succes = maj_pending_a_succes
maj_jour_failed_succes = maj_a_succes
trxenattente_abs = trx_en_attente_abs
trx_succes_pmt_abs_omsn=trx_succes_abs
trx_succes_omsn_abs_pmt = trx_succes_cinetpay_abs_pmt

# Dictionnaire de DataFrames

#jdggfdgffffd
feuilles = {
    'DATA PMT': dfpmt,
    'data op': data_op,
    'MAJ_A_SUCCES': maj_jour_failed_succes,
    'trxenattente_abs': trxenattente_abs,
    'trx_succes_omsn_abs' :trx_succes_pmt_abs_omsn,
    'trx_succes_omsn_abs_pmt' :trx_succes_cinetpay_abs_pmt
    
}

# Création de l'objet ExcelWriter
with pd.ExcelWriter(output_file_path, engine='openpyxl') as writer:
    for nom_feuille, df in feuilles.items():
        df.to_excel(writer, sheet_name=nom_feuille, index=False)

print(f"Fichier Excel avec plusieurs feuilles sauvegardé avec succès: {output_file_path}")

Fichier Excel avec plusieurs feuilles sauvegardé avec succès: D:\RECO\WAVE CI\PAYIN\RAPPORT\NOV\20251109_114842_RAPPORT_ANALYSE_20251108.xlsx